@import "./variables.css";
@import "./resets.css";

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

p,
a,
button {
  font-family: var(--font-main);
}

strong,
b {
  color: var(--color-primary);
}

video {
  margin: 2rem auto;
  display: block;
}

.install p,
details {
  text-align: left;
}

summary {
  font-weight: var(--weight-bol);
  cursor: pointer;
  padding: 10px;
}

details {
  user-select: none;
  color: var(--color-dark);
  font-family: var(--font-main);
  padding: 10px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  margin: 20px auto;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.section:nth-child(odd) {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.bold-text {
  font-weight: 700;
}

/* Link */
.link {
  font-weight: var(--weight-bol);
  color: var(--color-primary);
  transition: var(--transition-fast);
}

.link:hover {
  color: var(--color-secondary);
}

/* Navigation Bar */
.nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  padding: 1.5rem;
  align-items: center;
  width: 100%;
  max-height: 100px;
  background-color: var(--color-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.nav-brand {
  text-decoration: none;
  color: var(--color-light);
}

.nav-brand:hover {
  opacity: 0.9;
}

.nav__links-wrapper {
  display: flex;
  list-style: none;
}

.nav-link {
  padding: 0.75rem 1.5rem;
  color: var(--color-light);
  font-weight: var(--weight-med);
  text-decoration: none;
  border-radius: 2rem;
  /* text-transform: uppercase; */
  margin: 0.5rem;
  transition: var(--transition-fast);
}

#active {
  color: var(--color-light);
  background: var(--color-primary);
}

.nav-link:hover {
  color: var(--color-light);
  background: var(--color-primary);
}

/* Hero */
.intro {
  background: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  height: 90vh;
  padding: 200px 150px;
}

.intro-heading {
  color: var(--color-light);
  /* padding: 10px; */
  font-size: 4.25rem;
  position: relative;
}

.intro-heading::after {
  content: "DM Sans";
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  opacity: 0.7;
}

/* Sections */
.section {
  text-align: center;
  padding: 10rem 5rem;
}

.section {
  text-align: left;
}

.section {
  min-height: 50vh;
}

.section-title {
  font-size: var(--fs-heading-sm);
  font-weight: bold;
  /* margin-bottom: 1rem; */
  /* text-align: center; */
}

.section__text-content {
  padding: 3rem;
}

.section__cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.section-text {
  /* margin: 20px 50px; */
  margin: 1rem 0;
  font-size: var(--fs-text);
}

.section__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__image {
  max-width: var(--img-max-width);
}

/* Button flex */
.button-flex {
  display: flex;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.download-btn {
  display: block;
  padding: 0.75rem 1.75rem;
  border-radius: 999px;
  background-color: var(--chrome-blue-light);
  margin: 1rem auto;
  text-align: center;
  font-weight: var(--weight-bol);
  text-decoration: none;
  color: var(--color-light);
  outline-offset: 3px;
  font-size: var(--fs-text);
  transition: var(--transition-fast);
}

.download-btn:hover {
  background-color: var(--chrome-blue-dark);
  /* text-decoration: underline; */
}

.download-btn:focus {
  outline: 3px dotted var(--color-light);
}

/* Footer */
.footer {
  padding: 6rem 3rem;
  background: var(--light-grey);
}

.footer__cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.footer__links-item-title {
  font-size: 1.5rem;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
}

.footer__links-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.footer__link {
  text-decoration: none;
  font-weight: var(--weight-med);
  color: var(--color-dark);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__copy {
  color: var(--color-dark);
}

.footer__logo {
  text-decoration: none;
  display: block;
}

.footer__logo-caption {
  margin-top: 0.5rem;
  color: var(--color-dark);
}

/* Media Query */
@media (max-width: 600px) {
  .nav {
    height: 200px;
    flex-direction: column;
    position: relative;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav-link {
    display: block;
    text-align: center;
  }

  .intro {
    height: 50vh;
    padding: 100px 50px;
  }

  p {
    font-size: 0.95rem;
  }

  .intro-heading {
    font-size: 2.5rem;
    padding: 10px;
  }

  .intro-heading::after {
    font-size: 1.25rem;
  }

  video {
    width: 300px;
  }

  footer {
    font-size: 0.75rem;
  }
}

.personal-gitlink {
  text-decoration: none;
  font-weight: var(--weight-bol);
  color: var(--color-primary);
}

.personal-gitlink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* for dark color scheme */

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #101010;
  }
}
