@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@400;500;700&display=swap");

:root {
  --font-main: "Inter", sans-serif;
  --font-heading: "DM Sans", sans-serif;

  --weight-reg: 400;
  --weight-med: 500;
  --weight-bol: 700;

  --color-primary: #6e44ff;
  --color-secondary: #593c8f;
  --color-dark: #171738;
  --color-light: #fff;

  --transition-fast: 150ms ease-in;
}
